<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinFoodOrder"
        tools:targetApi="31">
        <activity
            android:name="com.example.kotlinfoodorder.authManager.ui.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.KotlinFoodOrder" />
        <activity
            android:name="com.example.kotlinfoodorder.authManager.ui.forgotpassword.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.KotlinFoodOrder" />
        <activity
            android:name="com.example.kotlinfoodorder.menuManager.ui.menu.MenuActivity"
            android:exported="false"
            android:theme="@style/Theme.KotlinFoodOrder" />
        <activity
            android:name="com.example.kotlinfoodorder.menuManager.ui.menu.OrderActivity"
            android:exported="false"
            android:theme="@style/Theme.KotlinFoodOrder" />
        <activity
            android:name="com.example.kotlinfoodorder.menuManager.ui.menuDetail.MenuDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.KotlinFoodOrder" />
        <activity
            android:name="com.example.kotlinfoodorder.authManager.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>